<html>
  <head>

    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/superhero/bootstrap.min.css" rel="stylesheet">
    <link href="rotten.css" rel="stylesheet">
    <title>Rotten Movies</title>
    <style>
        body { background-color: #869896;
        }
    </style>
  </head>

  <body>


    <%= yield %>

  </body>

</html>