<div class="container">
	<div class="col-sm-5">
		<div class="row">
			<div class="page-header">
  			<h2>Rottenmovie Profile: <small> current_user name </small></h2>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<p class="lead"><strong>Email: </strong>current user info</p>
					<p class="lead"><strong>Home State: </strong>current user info</p>

					<hr>

					<p class="lead">current user info bio</p>

					<hr>

					<div style="padding: 2em 0em;">
						<form method="get" action="/users/profile/edit"><button class="btn btn-info" type="submit">Edit Your Profile</button></form>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-offset-1 col-md-2">
			<div class="row">

				<div class="page-header">
	  			<h2>Recent Comments:<small></small></h2>
				</div>
				<div class="panel panel-default">
					<ul class="list-group">
					  <li class="list-group-item"><span class="badge">current user info post count?</span>Votes left</li>
					</ul>
				</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="page-header">
			<h2>Your Favorite Movie:<small></small></h2>
		</div>

	</div>
</div>